/*Feature-Info General*/

.feature-info {
    background-color: #29B200;
    padding-top: 0.5em;
}

.info-detail {
    display: flex;
    flex-direction: column;
}

.info-text {
    text-align: justify;
}

/*Feature-Info Teksty*/

.info-text p {
    font-size: 1.2em;
    padding-top: 0.5em;
    color: black;
}

/*Feature-Info Zdjęcia*/

.picture-info img {
    padding: 0.2em;
    max-height: 200px;
    margin: auto;
    border: inset 5px #FF1900;
}

/*Feature Functions - General*/


.function-detail {
    display: flex;
    flex-direction: column;
}

.icon-function {
    align-items: center;
    align-self: center;
    margin: 1em 0 1em 0;
}

.functions-text {
    text-align: justify;
}

/*Feature Functions - Text*/

.functions-text p {
    font-size: 1.2em;
    border-top: inset 5px #29B200;
    padding-top: 0.5em;
    color: black;
}

/*Feature Functions - Pictures*/

.icon-function img {
    min-width: 50px;
    max-width: 70px;
}

/*Feature TEAM*/
.team {
    margin: 100px 0px 10px 0px ;

}

.team .title {
    margin: 10px;
}
.img-circle {
max-width: 100%;
    border: solid 1px #29B200;
    border-radius: 150px;
}
.icon {
    max-width: 40px;

}

.person {
    text-align: center;
    padding-bottom: 0px;
    font-size: 16px;

}

.title {
    text-align: center;
    font-size: 26px;
    margin-bottom: 10px;
}

.links {
    text-align: center;

    margin: 10px 80px 50px 80px;
}