/*Feature-Info General*/

.feature-background {
    background-color: #29B200;
}

.feature-info {
    padding-top: 5px;

}

.feature-info h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    color: black;

}

.info-column {
    display: flex;
    flex-direction: column;
    padding: 0;
}



/*Feature-Info Teksty*/

.info-set {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin-top: 5px;
}

.info-text p {
    font-size: 20px;
    color: black;
}

/*Feature-Info Zdjęcia*/

.picture-info img {
    width: 80px;
    margin: 10px;


}